<launch>
	<include file="$(find prizm_ros)/launch/twist_controller.launch" />
	<node name="joy_control_node" pkg="prizm_control" type="joy_control_node" 
		output="screen" launch-prefix="gnome-terminal -e" />
	<node name="joy_node" pkg="joy" type="joy_node" />
		<!-- <param name="autorepeat_rate" value="5"/> -->

</launch>

